---
import type { PhotosMain } from '@/types/index'

type Props = {
  photos: PhotosMain[]
}

const { photos } = Astro.props
---

<ul class="grid grid-cols-1 gap-[7.8vw] md:grid-cols-3">
  {
    photos.map(({ id, main, title }) => {
      return (
        <li>
          <a
            href={`/photos/${id}`}
            class="group block cursor-pointer overflow-hidden"
          >
            <picture>
              <source srcset={`${main.url}?fm=webp`} type="image/webp" />
              <img
                src={main.url}
                alt={title}
                width={main.width}
                height={main.height}
                class="aspect-[3/2] w-full object-cover transition-transform duration-700 ease-out group-hover:scale-105 group-hover:opacity-80"
                loading="lazy"
                decoding="async"
              />
            </picture>
          </a>
        </li>
      )
    })
  }
</ul>
