---
import FadeIn from "@/components/ui/FadeIn.tsx";
import type { PhotosMain } from "@/types/index";

type Props = {
  photos: PhotosMain[];
};

const { photos } = Astro.props;
---

<section class="max-w-[1600px] mx-auto px-4 md:px-[5.5rem] pt-[160px] pb-0">
  <h2 class="text-3xl font-sans tracking-widest uppercase mb-32 text-center">
    PHOTOS
  </h2>

  <ul class="grid grid-cols-1 md:grid-cols-6 gap-[7.8vw]">
    {
      photos.map(({ id, main, title }, index) => {
        return (
          <li class={`w-full ${index < 2 ? "md:col-span-3" : "md:col-span-2"}`}>
            <FadeIn client:visible delay={index * 0.2} opacityDuration={0.5}>
              <a href={`/photos/${id}`} class="group block overflow-hidden">
                <img
                  src={main.url}
                  alt={title}
                  width={main.width}
                  height={main.height}
                  class="w-full aspect-[3/2] object-cover transition-transform duration-700 ease-out group-hover:scale-105 group-hover:opacity-80"
                />
              </a>
            </FadeIn>
          </li>
        );
      })
    }
  </ul>

  <div class="mt-20 text-center">
    <a
      href="/photos"
      class="inline-flex items-center justify-center relative border border-[var(--color-border)] px-6 py-4 w-64 hover:bg-gray-50 transition-colors group"
    >
      <span class="text-sm tracking-widest uppercase">View More</span>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="w-4 h-4 transition-transform duration-300 group-hover:translate-x-1 absolute right-6"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M8.25 4.5l7.5 7.5-7.5 7.5"></path>
      </svg>
    </a>
  </div>
</section>
