---
import FadeIn from '@/components/ui/FadeIn.tsx'
import type { PhotosMain } from '@/types/index'

type Props = {
  photos: PhotosMain[]
}

const { photos } = Astro.props
---

<section class="mx-auto max-w-[1600px] px-4 py-[80px] md:px-[5.5rem]">
  <h2 class="mb-32 text-center font-sans text-3xl tracking-widest uppercase">
    CONTENTS
  </h2>

  <ul class="grid grid-cols-2 gap-[7.8vw] md:grid-cols-4">
    {
      photos.map(({ id, sub, title }, index) => {
        return (
          <li class="w-full">
            <FadeIn client:idle delay={index * 0.2} opacityDuration={0.5}>
              <a
                href={`/photos/${id}`}
                class="group block aspect-square cursor-pointer overflow-hidden"
              >
                <picture>
                  <source srcset={`${sub.url}?fm=webp`} type="image/webp" />
                  <img
                    src={sub.url}
                    alt={title}
                    width={sub.width}
                    height={sub.height}
                    class="h-full w-full object-cover transition-transform duration-500 group-hover:scale-110 group-hover:opacity-80"
                    loading="lazy"
                    decoding="async"
                  />
                </picture>
              </a>
            </FadeIn>
          </li>
        )
      })
    }
  </ul>
</section>
