---
import FadeIn from "./FadeIn.tsx";
import { PHOTOS } from "@/mocks/constants";
const photos = PHOTOS;
const pathname = Astro.url.pathname;
const isHomePage = pathname === "/" || pathname === "";
---

<section
  class="max-w-[1600px] mx-auto px-4 md:px-[5.5rem] pt-[160px] pb-[80px]"
>
  <h2 class="text-3xl font-sans tracking-widest uppercase mb-24 text-center">
    PHOTO LIST
  </h2>

  <div
    class:list={[
      "grid grid-cols-1 gap-[7.8vw]",
      isHomePage ? "md:grid-cols-6" : "md:grid-cols-3",
    ]}
  >
    {
      photos.map((photo, index) => (
        <FadeIn
          client:visible
          delay={index * 0.2}
          opacityDuration={0.5}
          className={`group ${
            isHomePage ? (index < 2 ? "md:col-span-3" : "md:col-span-2") : ""
          }`}
        >
          <div class="overflow-hidden mb-4 cursor-pointer">
            <img
              src={photo.src}
              alt={photo.title}
              class="w-full aspect-[3/2] object-cover transition-transform duration-700 ease-out group-hover:scale-105 group-hover:opacity-80"
            />
          </div>
          <ul class="flex gap-2 mb-2">
            {photo.label.map((label, index) => (
              <li class="inline-block text-xs text-[var(--color-accent)]">
                <a href="#">{label}</a>
              </li>
            ))}
          </ul>
          <h3 class="font-medium tracking-wide mb-1">{photo.title}</h3>
          <p class="text-xs text-[var(--color-accent)] tracking-wider">
            {photo.date}
          </p>
        </FadeIn>
      ))
    }
  </div>

  <div class="mt-20 text-center">
    <a
      href="/photos"
      class="inline-flex items-center justify-center relative border border-[var(--color-border)] px-6 py-4 w-64 hover:bg-gray-50 transition-colors group"
    >
      <span class="text-sm tracking-widest uppercase">View More</span>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="w-4 h-4 transition-transform duration-300 group-hover:translate-x-1 absolute right-6"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M8.25 4.5l7.5 7.5-7.5 7.5"></path>
      </svg>
    </a>
  </div>
</section>
