---
import type { PhotoDetail } from "@/types/index";

type Props = {
  photoDetail: PhotoDetail;
}

const { photoDetail } = Astro.props;

---

  
<div class="grid grid-cols-1 md:grid-cols-3 gap-[7.8vw]">
  <h2>{photoDetail.title}</h2>
  <p>{photoDetail.camera?.[0]}</p>
  <p>{photoDetail.film?.[0]}</p>
  {
  photoDetail.image_list.map(({url, width, height}, index) => {
      return (
          <div
            class="block overflow-hidden group cursor-pointer"
          >
            <img
              src={url}
              alt={`image${index + 1}`}
              width={width}
              height={height}
              class="w-full aspect-[3/2] object-cover transition-transform duration-700 ease-out group-hover:scale-105 group-hover:opacity-80"
            />
          </div>
      );
    })
  }
</div>