---
import type { PhotoDetail } from "@/types/index";

type Props = {
  photoDetail: PhotoDetail;
};

const { photoDetail } = Astro.props;
---

<h2
  class="mb-12 text-center
      sans text-3xl font-sans tracking-widest uppercase"
>
  {photoDetail.title}
</h2>
<p class="text-center pb-1">{photoDetail.camera?.[0]}</p>
<p class="text-center">{photoDetail.film?.[0]}</p>
<ul class="grid grid-cols-1 md:grid-cols-3">
  {
    photoDetail.image_list.map(({ url, width, height }, index) => {
      return (
        <li class="p-[4.2vw]">
          <div class="w-full h-full flex items-center justify-center overflow-hidden group cursor-pointer">
            <picture>
              <source srcset={`${url}?fm=webp`} type="image/webp" />
              <img
                src={url}
                alt={`image${index + 1}`}
                width={width}
                height={height}
                class="w-full aspect-[3/2] object-cover transition-transform duration-700 ease-out group-hover:scale-105 group-hover:opacity-80"
                loading="lazy"
                decoding="async"
              />
            </picture>
          </div>
        </li>
      );
    })
  }
</ul>
